numpy==1.26.3
scipy==1.13.0
acoular
matplotlib==3.9
panel==1.4.2
h5py==3.6.0
tkinter==8.6.10
matplotlib==3.9
ipykernel == 6.7.0
ipywidgets == 8.1.1
ipywidgets_bokeh == 1.0.1
holoviews == 1.14.3
plotly == 6.4.0